.container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  height: 20vh;
  flex-direction: column;
  align-items: flex-start;
  background: black;
  color: white;
  justify-content: center;
  padding-left: 20px;
}

.title {
  display: flex;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.subtitle {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.body {
  display: flex;
  height: 80vh;
  overflow-y: auto;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc
}

.item:hover {
  cursor: pointer;
}

.story_title {
  display: flex;
  flex: 4;
  color: #333;
  font-size: 13pt;
}

.author {
  color: #999;
  margin-left: 10px;
}

.story_createdAt {
  display: flex;
  flex: 1;
  color: #333;
  font-size: 13pt;
}

.delete_story {
  display: flex;
  flex: 0.5;
}

.delete_story_icon {
  font-size: 20px
}
